In [1]:
#ML project - due date 12.11.25
#US Accidents data set
#research question: 
#Can we predict the duration of a traffic accident at the time it is first reported, using weather, location, and time features?

In [2]:
#step 1: Data preperations
''' 
In this notebook we are going to prep our data to do EDA next, 
so we are going to load the dataset, get basic information (how many rows, columns, missing data, data types), 
and do relevant changes, like changing data type object to correct data types like category/datetime.. 
to be able to use these variables later on.
We are going to Remove punctuation from the dataset, narrow categories for optimal use,
extracting year/month/day/hour/minutes/seconds from start_time & end_time, 
then save all these changes to the flatfile.
'''

In [1]:
import pandas as pd

df = pd.read_csv("/Users/rozaabosalah/Desktop/ML project/US_Accidents_March23.csv")
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [2]:
df.shape

(7728394, 46)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [4]:
df.isna().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Severity,7728394.0,2.212384,0.487531,1.000000,2.000000,2.000000,2.000000,4.000000
Start_Lat,7728394.0,36.201195,5.076079,24.554800,33.399631,35.823974,40.084959,49.002201
Start_Lng,7728394.0,-94.702545,17.391756,-124.623833,-117.219396,-87.766616,-80.353676,-67.113167
End_Lat,4325632.0,36.261829,5.272905,24.566013,33.462070,36.183495,40.178920,49.075000
End_Lng,4325632.0,-95.725570,18.107928,-124.545748,-117.754345,-88.027890,-80.247086,-67.109242
Distance(mi),7728394.0,0.561842,1.776811,0.000000,0.000000,0.030000,0.464000,441.750000
Temperature(F),7564541.0,61.663286,19.013653,-89.000000,49.000000,64.000000,76.000000,207.000000
Wind_Chill(F),5729375.0,58.251048,22.389832,-89.000000,43.000000,62.000000,75.000000,207.000000
Humidity(%),7554250.0,64.831041,22.820968,1.000000,48.000000,67.000000,84.000000,100.000000
Pressure(in),7587715.0,29.538986,1.006190,0.000000,29.370000,29.860000,30.030000,58.630000
Visibility(mi),7551296.0,9.090376,2.688316,0.000000,10.000000,10.000000,10.000000,140.000000
Wind_Speed(mph),7157161.0,7.685490,5.424983,0.000000,4.600000,7.000000,10.400000,1087.000000
Precipitation(in),5524808.0,0.008407,0.110225,0.000000,0.000000,0.000000,0.000000,36.470000

In [6]:
df.nunique()

ID                       7728394
Source                         3
Severity                       4
Start_Time               6131796
End_Time                 6705355
Start_Lat                2428358
Start_Lng                2482533
End_Lat                  1568172
End_Lng                  1605789
Distance(mi)               22382
Description              3761578
Street                    336306
City                       13678
County                      1871
State                         49
Zipcode                   825094
Country                        1
Timezone                       4
Airport_Code                2045
Weather_Timestamp         941331
Temperature(F)               860
Wind_Chill(F)               1001
Humidity(%)                  100
Pressure(in)                1144
Visibility(mi)                92
Wind_Direction                24
Wind_Speed(mph)              184
Precipitation(in)            299
Weather_Condition            144
Amenity                        2
Bump                           2
Crossing                       2
Give_Way                       2
Junction                       2
No_Exit                        2
Railway                        2
Roundabout                     2
Station                        2
Stop                           2
Traffic_Calming                2
Traffic_Signal                 2
Turning_Loop                   1
Sunrise_Sunset                 2
Civil_Twilight                 2
Nautical_Twilight              2
Astronomical_Twilight          2
dtype: int64

In [7]:
#changing datatype from object to string/datetime/category

category_cols = ['Source', 'Severity', 'Wind_Direction', 'Weather_Condition', 'Sunrise_Sunset',
                'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'] # list of columns to convert to category
for col in category_cols:
    df[col] = df[col].astype('category')
    
string_cols = ['ID', 'Description', 'Street', 'City', 'County', 'State', 
               'Zipcode', 'Country', 'Timezone', 'Airport_Code'] # list of columns to convert to string
for col in string_cols:
    df[col] = df[col].astype('string')
    
date_cols = ['Start_Time', 'End_Time', 'Weather_Timestamp']  # list of columns to convert to datetime
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     string
 1   Source                 category
 2   Severity               category
 3   Start_Time             datetime64[ns]
 4   End_Time               datetime64[ns]
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            string
 11  Street                 string
 12  City                   string
 13  County                 string
 14  State                  string
 15  Zipcode                string
 16  Country                string
 17  Timezone               string
 18  Airport_Code           string
 19  Weather_Timestamp      datetime64[ns]
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         category
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      category
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         category
 43  Civil_Twilight         category
 44  Nautical_Twilight      category
 45  Astronomical_Twilight  category
dtypes: bool(13), category(8), datetime64[ns](3), float64(12), string(10)
memory usage: 1.6 GB

In [9]:
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [10]:
#clean text - removing punctuations

import string

In [12]:
# Convert specified columns to string type and create string_df
string_df = df[string_cols].astype(str)

# Remove punctuation in one line
string_df = string_df.map(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

# Assign the cleaned columns back to the original DataFrame
df[string_cols] = string_df

# Display the resulting DataFrame
df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [14]:
#Narrowing Categories

In [13]:
#df['Timezone'] = df['Timezone'].astype('category')
#replacing all NA with a new 'unknow' category

df['Timezone'] = df['Timezone'].replace('NA', 'Unknown')
df['Timezone'].value_counts()

Timezone
USEastern     3580167
USPacific     2062984
USCentral     1645616
USMountain     431819
Unknown          7808
Name: count, dtype: int64

In [14]:
#checking how many categories are there in wind_direction
df['Wind_Direction'].value_counts()

Wind_Direction
CALM        961624
S           419989
SSW         384840
W           383913
WNW         378781
NW          369352
Calm        368557
SW          364470
WSW         353806
SSE         349110
NNW         333427
N           307151
SE          294901
E           278914
ESE         268311
NE          258639
ENE         258474
NNE         255311
VAR         250566
South       177375
West        164751
North       153385
Variable    113996
East        103545
Name: count, dtype: int64

In [15]:
#narrowing the categories in wind_direction to 6 main categories; south/west/east/north/calm/variable
df['Wind_Direction'] = df['Wind_Direction'].replace({'S': 'South', 'W': 'West', 'N': 'North',
                                                    'E': 'East', 'CALM': 'Calm', 'VAR': 'Variable',
                                                    'SSW': 'West', 'WNW': 'West', 'NW': 'West', 'SW': 'West',
                                                    'WSW': 'West', 'SSE': 'East', 'NNW': 'West', 'SE': 'East', 'ESE': 'East',
                                                    'NE': 'East', 'ENE': 'East', 'NNE': 'East', 'calm': 'Calm'})
df['Wind_Direction'].value_counts()

Wind_Direction
West        2733340
East        2067205
Calm        1330181
South        597364
North        460536
Variable     364562
Name: count, dtype: int64

In [16]:
#checking how many categories are there in weather_condition
df['Weather_Condition'].value_counts()

Weather_Condition
Fair                         2560802
Mostly Cloudy                1016195
Cloudy                        817082
Clear                         808743
Partly Cloudy                 698972
                              ...
Heavy Smoke                        1
Heavy Sleet / Windy                1
Partial Fog / Windy                1
Heavy Rain Shower / Windy          1
Dust Whirls                        1
Name: count, Length: 144, dtype: int64

In [17]:
df['Weather_Condition'].unique()

['Light Rain', 'Overcast', 'Mostly Cloudy', 'Rain', 'Light Snow', ..., 'Sand / Windy', 'Heavy Rain Shower / Windy', 'Blowing Snow Nearby', 'Heavy Rain Shower', 'Drifting Snow']
Length: 145
Categories (144, object): ['Blowing Dust', 'Blowing Dust / Windy', 'Blowing Sand', 'Blowing Snow', ..., 'Widespread Dust', 'Widespread Dust / Windy', 'Wintry Mix', 'Wintry Mix / Windy']

In [18]:
#narrowing the categories in weather_codinition as possible

threshold = 10000
counts = df['Weather_Condition'].value_counts()
common = counts[counts >= threshold].index
df['Weather_Condition'] = df['Weather_Condition'].apply(lambda x: x if x in common else 'Other')

In [19]:
df['Weather_Condition'].value_counts() #dropped 144 categories to 25

Weather_Condition
Fair                       2560802
Mostly Cloudy              1016195
Cloudy                      817082
Clear                       808743
Partly Cloudy               698972
Overcast                    382866
Light Rain                  352957
Scattered Clouds            204829
Light Snow                  128680
Fog                          99238
Other                        87441
Rain                         84331
Haze                         76223
Fair / Windy                 35671
Heavy Rain                   32309
Light Drizzle                22684
Thunder in the Vicinity      17611
Cloudy / Windy               17035
T-Storm                      16810
Mostly Cloudy / Windy        16508
Snow                         15537
Thunder                      14202
Light Rain with Thunder      13597
Smoke                        12668
Wintry Mix                   11703
Partly Cloudy / Windy        10241
Name: count, dtype: int64

In [20]:
#still could use fine tuning;
df['Weather_Condition'] = df['Weather_Condition'].replace({
    'Mostly Cloudy / Windy': 'Mostly Cloudy',
    'Cloudy / Windy': 'Cloudy',
    'Partly Cloudy / Windy': 'Partly Cloudy',
    'Light Rain with Thunder': 'Light Rain',
    'Thunder in the Vicinity': 'Thunder',
    'Heavy Rain': 'Rain',
    'Light Drizzle': 'Rain'
})
df['Weather_Condition'].value_counts()

Weather_Condition
Fair                2560802
Mostly Cloudy       1032703
Cloudy               834117
Clear                808743
Partly Cloudy        709213
Overcast             382866
Light Rain           366554
Scattered Clouds     204829
Rain                 139324
Light Snow           128680
Fog                   99238
Other                 87441
Haze                  76223
Fair / Windy          35671
Thunder               31813
T-Storm               16810
Snow                  15537
Smoke                 12668
Wintry Mix            11703
Name: count, dtype: int64

In [21]:
# extracting year/month/day/hour/minutes/seconds from start_time & end_time

# From start time
df['Start_Year'] = df['Start_Time'].dt.year
df['Start_Month'] = df['Start_Time'].dt.month
df['Start_Day'] = df['Start_Time'].dt.day
df['Start_DayOfWeek'] = df['Start_Time'].dt.dayofweek   # Monday=0
df['Start_Hour'] = df['Start_Time'].dt.hour
df['Start_Minute'] = df['Start_Time'].dt.minute
df['Start_Second'] = df['Start_Time'].dt.second
df['Start_IsWeekend'] = df['Start_DayOfWeek'].isin([5,6]).astype(int) # is_weekend

# From end time 
df['End_Year'] = df['End_Time'].dt.year
df['End_Month'] = df['End_Time'].dt.month
df['End_Day'] = df['End_Time'].dt.day
df['End_DayOfWeek'] = df['End_Time'].dt.dayofweek
df['End_Hour'] = df['End_Time'].dt.hour
df['End_Minute'] = df['End_Time'].dt.minute
df['End_Second'] = df['End_Time'].dt.second
df['End_IsWeekend'] = df['End_DayOfWeek'].isin([5,6]).astype(int)

# duration in minutes --- my target value
df['Duration_Minutes'] = (df['End_Time'] - df['Start_Time']).dt.total_seconds() / 60
# duration in hours
df['Duration_Hours'] = df['Duration_Minutes'] / 60

print(df.head())

   ID   Source Severity          Start_Time            End_Time  Start_Lat  \
0  A1  Source2        3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147
1  A2  Source2        2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059
2  A3  Source2        2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148
3  A4  Source2        3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753
4  A5  Source2        2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781

   Start_Lng  End_Lat  End_Lng  Distance(mi)  ... End_Year End_Month End_Day  \
0 -84.058723      NaN      NaN          0.01  ...   2016.0       2.0     8.0
1 -82.831184      NaN      NaN          0.01  ...   2016.0       2.0     8.0
2 -84.032608      NaN      NaN          0.01  ...   2016.0       2.0     8.0
3 -84.205582      NaN      NaN          0.01  ...   2016.0       2.0     8.0
4 -84.188354      NaN      NaN          0.01  ...   2016.0       2.0     8.0

  End_DayOfWeek End_Hour End_Minute End_Second End_IsWeekend Duration_Minutes  \
0           0.0     11.0        0.0        0.0             0            314.0
1           0.0      6.0       37.0       59.0             0             30.0
2           0.0      7.0       19.0       27.0             0             30.0
3           0.0      7.0       53.0       34.0             0             30.0
4           0.0      8.0        9.0        7.0             0             30.0

  Duration_Hours
0       5.233333
1       0.500000
2       0.500000
3       0.500000
4       0.500000

[5 rows x 64 columns]

In [22]:
df['Duration_Minutes'].value_counts()

Duration_Minutes
360.000000     368393
30.000000      113699
45.000000       68175
60.000000       57672
240.000000      56867
                ...
2217.283333         1
624.466667          1
8645.883333         1
1715.550000         1
4405.666667         1
Name: count, Length: 71223, dtype: int64

In [23]:
df['Duration_Hours'].value_counts()

Duration_Hours
6.000000      368393
0.500000      113699
0.750000       68175
1.000000       57672
4.000000       56867
               ...
36.954722          1
10.407778          1
144.098056         1
28.592500          1
73.427778          1
Name: count, Length: 71223, dtype: int64

In [24]:
df['Start_IsWeekend'].value_counts()

Start_IsWeekend
0    6659126
1    1069268
Name: count, dtype: int64

In [25]:
df['End_IsWeekend'].value_counts()

End_IsWeekend
0    6633845
1    1094549
Name: count, dtype: int64

In [27]:
#saving the flatfile

df.to_pickle('df_after_dataprep.pkl')